<!DOCTYPE html>
<html>

<head lang="en">
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>index</title>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- <link rel="stylesheet" href="css/vue-slider-component.css"> -->

  <link href="css/include.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="css/jquery.circliful.css"> -->
  <!-- <link rel="stylesheet" href="css/animate.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="css/fullpage.css" /> -->

</head>

<body>
  <script src="https://unpkg.com/vue"></script>


  <main class="main" id="app">
    <header class="header">
      <div class="bg-black">
        <div class="box-width-site">

          <div class="header__black row d-flex justify-content-sm-between justify-content-center">

            <div class="header__black__left col-sm-auto col-12 d-flex justify-content-center">
              <div class="header__black__left__text">
                <span class="header__black__left__text__name">custom care: </span>
                <span class="header__black__left__text__number"> 888-23-4567</span>
              </div>
            </div>
            <div class="header__black__right col-sm-auto col-12">
              <div class="nav">
                <div class="vline"></div>
                <div class="nav__item nav__item-currency">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                      $us
                      <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">$ua</a>
                      <a class="dropdown-item" href="#">$eu</a>
                      <a class="dropdown-item" href="#">$fr</a>
                    </div>
                  </div>
                </div>
                <div class="vline"></div>
                <div class="nav__item nav__item-user">
                  <i class="fas fa-user-alt"></i>
                  My Account
                </div>
                <div class="vline"></div>
                <div class="nav__item nav__item-search">
                  <i class="fas fa-search"></i>
                </div>
                <div class="vline"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- menu -->
    <section class="blockmenu">
      <div class="bg-white">
        <div class="box-width-site">
          <div class="logo row">
            <div class="logo__logo col-sm-auto col-12 d-flex align-self-center order-sm-1 order-1">
              <img src="images/logo.png" alt="logo">
            </div>
            <div class="mx-auto col-sm-auto col-12 order-sm-2 order-2"></div>
            <div class="logo__menu col-lg-auto col-12 mx-0 d-flex align-self-center order-lg-3 order-4">
              <nav class="logo__menu__menu navbar navbar-expand-lg navbar-dark ">
                <div class="d-lg-none d-block">MENU</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav">
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          new
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          designer
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          women
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          men
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          clearence
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="logo__cart col-sm-auto col-12 d-flex align-self-center order-lg-4 order-3">
              <div class="logo__cart__list d-flex justify-content-between align-items-center ">
                <span>Your cart</span>
                <i class="fas fa-caret-down"></i>
              </div>
              <div class="logo__cart__money d-flex justify-content-between align-items-center">
                <i class="fas fa-shopping-bag"></i>
                <span>{{cart.length - 1}} items | $ {{cartprice}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end menu -->

    <!-- path -->
    <section class="blockpath">
      <div class="box-width-site ">
        <div class="road">
          <div class="road__line">
            <i class="fas fa-home"></i>
            > Women > Clothes
          </div>
        </div>
      </div>
    </section>
    <!-- end path -->
    <!-- carousel -->
    <section class="blockcarousel">
      <div class="box-width-site">
        <!-- <div class="carusell  d-flex justify-content-between">
          <div class="carusell__arrow">1</div>
          <div class="carusell__own owl-carousel carousel-block10">
            <div class="carusell__own__box d-flex justify-content-between">
              <div class="carusell__own__box__foto d-flex justify-content-between">
                <div class="carusell__foto__img">
                  <img src="images/carousel11.png" alt="img_left">
                </div>
                <div class="carusell__foto__img">
                  <img src="images/carousel12.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__own__box__text">
                <div class="carusell__box__text">
                  111This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
              </div>
            </div>
          </div>
          <div class="carusell__arrow">1</div>
        </div> -->
        <!-- <div class="carusell  d-flex justify-content-between">
          <div class="carusell__own owl-carousel owl-theme">
            <div class="item">
              This is Photoshop's version of Lorem Ipsum.
            </div>
          </div>
        </div> -->
        <div class="carusell d-flex justify-content-between">
          <div class="carusell__arrow owlPreviousBtn text-left">
            <i class="fas fa-angle-left"></i>
          </div>

          <div class="carusell__box owl-carousel owl-theme">
            <div class="carusell__box__item  d-flex ">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="carusell__arrow owlNextBtn text-right">
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <hr>
      </div>
    </section>
    <!-- end carousel -->
    <!-- content -->
    <section class="blockcontent">
      <div class="box-width-site contentmain row">
        <div class="content col-9 text-center  p-0">
          <div class="content__button row">
            <div class="content__button__sort col-3 text-left">
              Sort by
              <div class="btn-group">
                <button type="button" class="content__button__sort__btn" data-toggle="dropdown">{{sortMainName}}</button>
                <button type="button" class="content__button__sort__btn dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <button v-on:click="sortPriceMin" class="dropdown-item" type="button">min price</button>
                  <button v-on:click="sortPriceMax" class="dropdown-item" type="button">max price</button>
                  <button v-on:click="sortDate" class="dropdown-item" type="button">date</button>
                  <button v-on:click="sortId" class="dropdown-item" type="button">default</button>
                  <button v-on:click="sortSale" class="dropdown-item" type="button">action</button>
                </div>
              </div>
            </div>
            <div class="content__button__page col-9 text-right">
              <div class="content__button__page__text">Showing {{!ringeprice.length ? 0 : max - page + 1}} - {{max < ringeprice.length ? max : ringeprice.length}} of {{ringeprice.length}} results</div>
              <paginate :page-count="Math.ceil(ringeprice.length/page)" :hide-prev-next=true :prev-text="'<'" :next-text="'>'" :click-handler="paginate" :page-class="'paginate-page-class'" :container-class="'paginate-class'">
              </paginate>
            </div>
            <div class="content__button__hr col-12"><div></div></div>
          </div>
          <div class="content__cells row p-0">
            <div class="text-center w-100" v-if="!ringeprice.length">
              <h1 class="">Not found! Please сhange value price or select a different category!</h1>
            </div>
            <div class="content__cells__cell col-4 p-0 w-100" v-for="(item, index) in ringeprice.slice(max - page, max) ">
              <div class="content__cells__cell__cel">
                <div class="content__cells__cell__cel__sale" v-if="item.sale"></div>
                <div class="content__cells__cell__cel__sale-text" v-if="item.sale">sale</div>
                <img class="content__cells__cell__cel__img" :src="item.url" alt="item.url">
                <div class="content__cells__cell__cel__name">{{item.name}}</div>
                <div class="content__cells__cell__cel__price">${{item.price}}</div>
                <div class="content__cells__cell__cel__button">
                  <div class="button-main content__cells__cell__cel__button__main">
                    <button v-on:click="addCart(item.id)" type="button" name="button">add to cart <i class="fa fa-plus"></i></button>
                  </div>
                </div>
                <!-- <div>index - {{index}}</div>
                <div>id - {{item.id}}</div>
                <div>date - {{item.date}}</div>
                <div>sale - {{item.sale}}</div>
                <div>ringeprice.length - {{ringeprice.length}}</div>
                <div>items.length - {{items.length}}</div> -->
              </div>
            </div>
          </div>
        </div>

        <!-- __price -->
        <!-- __foto -->
        <!-- __name -->
        <!-- __button -->
        <div class="sidebar col-3 align-top">
          <div class="sidebar__categories">
            <div class="sidebar__title">
              categories
            </div>
            <div class="sidebar__categories__menu">
              <ul class="ul1" id="ul1">
                <li class="li1">
                  <input id="newlist" class="hide" type="checkbox" />
                  <label for="newlist">
                    <span>new</span>
                  </label>
                  <ul>
                    <li v-on:click="womenClothes">Clothes</li>
                    <li v-on:click="womenShoes">Shoes</li>
                  </ul>
                </li>
                <li class="li1">
                  <input id="designerlist" class="hide" type="checkbox" />
                  <label for="designerlist">
                    <span>designer</span>
                  </label>
                  <ul>
                    <li v-on:click="womenClothes">Clothes</li>
                    <li v-on:click="womenShoes">Shoes</li>
                  </ul>
                </li>
                <li class="li1">
                  <input id="womenlist" class="hide" type="checkbox" />
                  <label for="womenlist">
                    <span>women</span>
                  </label>
                  <ul>
                    <li v-on:click="womenClothes">Clothes</li>
                    <li v-on:click="womenShoes">Shoes</li>
                  </ul>
                </li>
                <li class="li1">
                  <input id="menlist" class="hide" type="checkbox" />
                  <label for="menlist">
                    <span class="icontext">men</span>
                    <!-- <span class="iconsquare"><i class="fa fa-plus" aria-hidden="true"></i></span> -->
                  </label>
                  <ul>
                    <li v-on:click="womenClothes">Clothes</li>
                    <li v-on:click="womenShoes">Shoes</li>
                  </ul>
                </li>
                <li class="li1">
                  <input id="clearencelist" class="hide" type="checkbox" />
                  <label for="clearencelist">
                    <span class="icontext">clearence</span>
                    <!-- <span class="iconsquare"><i class="fa fa-plus" aria-hidden="true"></i></span> -->
                  </label>

                  <ul>
                    <li v-on:click="womenClothes">Clothes</li>
                    <li v-on:click="womenShoes">Shoes</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="sidebar__categories__filter">
              <vue-slider class="sidebar__categories__filter__slider" v-model="value_slider" :min="minprice" :max="maxprice" :enable-cross="false"></vue-slider>
              <div class="sidebar__categories__filter__text">PRICE ${{value_slider[0]}} - ${{value_slider[1]}}</div>
              <div class="sidebar__categories__filter__button button-main">
                <button v-on:click="filter">
                  Filter
                </button>
              </div>
            </div>
            <div class="sidebar__select-size">
              <div class="sidebar__select-size__text">
                select your size
              </div>
              <div class="sidebar__select-size__button">
                <button type="button" name="button">xs</button>
                <button type="button" name="button">s</button>
                <button type="button" name="button">m</button>
                <button type="button" name="button">l</button>
                <button type="button" name="button">xl</button>
              </div>
            </div>
          </div>
          <div class="sidebar__onsale">
            <div class="sidebar__title">
              on sale
            </div>
            <div class="sidebar__content">
              <div class="sidebar__content__foto">
                <img src="images/sidebar/1.png" alt="sidebarimg">
              </div>
              <div class="sidebar__content__text">
                <div class="sidebar__content__text__text">pintuck tank</div>
                <div class="sidebar__content__text__price">$45.55</div>
              </div>
            </div>
            <div class="sidebar__content">
              <div class="sidebar__content__foto">
                <img src="images/sidebar/2.png" alt="sidebarimg">
              </div>
              <div class="sidebar__content__text">
                <div class="sidebar__content__text__text">folocia silk shirt</div>
                <div class="sidebar__content__text__price">$69.49</div>
              </div>
            </div>
            <div class="sidebar__content">
              <div class="sidebar__content__foto">
                <img src="images/sidebar/3.png" alt="sidebarimg">
              </div>
              <div class="sidebar__content__text">
                <div class="sidebar__content__text__text">laylala shirt</div>
                <div class="sidebar__content__text__price">$78.25</div>
              </div>
            </div>
          </div>
          <div class="sidebar__featured">
            <div class="sidebar__title">
              featured products
            </div>
            <div class="sidebar__content">
              <div class="sidebar__content__foto">
                <img src="images/sidebar/4.png" alt="sidebarimg">
              </div>
              <div class="sidebar__content__text">
                <div class="sidebar__content__text__text">basic sunglasses</div>
                <div class="sidebar__content__text__price">$14.95</div>
              </div>
            </div>
            <div class="sidebar__content">
              <div class="sidebar__content__foto">
                <img src="images/sidebar/5.png" alt="sidebarimg">
              </div>
              <div class="sidebar__content__text">
                <div class="sidebar__content__text__text">billie j</div>
                <div class="sidebar__content__text__price">$69.49</div>
              </div>
            </div>
            <div class="sidebar__content">
              <div class="sidebar__content__foto">
                <img src="images/sidebar/6.png" alt="sidebarimg">
              </div>
              <div class="sidebar__content__text">
                <div class="sidebar__content__text__text">sandie shoppebag</div>
                <div class="sidebar__content__text__price">$69.95</div>
              </div>
            </div>
          </div>
          <!-- {{minprice}}
          {{maxprice}} -->
        </div>
      </div>
      <!-- <div id="app">
        <span @click="title='text'">Text</span>
        <p>{{ title }}</p>
      </div> -->
    </section>
    <!-- end content -->
    <!-- credit -->
    <section class="blockcredit">
      <div class="box-width-site">
        <div class="credit">

          <span>We accept</span>
          <img src="images/icon/2.png" alt="cartimg">
          <img src="images/icon/3.png" alt="cartimg">
          <img src="images/icon/4.png" alt="cartimg">
          <img src="images/icon/5.png" alt="cartimg">
          <img src="images/icon/6.png" alt="cartimg">
          <img src="images/icon/7.png" alt="cartimg">
          <img src="images/icon/8.png" alt="cartimg">
          <img src="images/icon/9.png" alt="cartimg">
          <img src="images/icon/10.png" alt="cartimg">
          <img src="images/icon/11.png" alt="cartimg">
          <img src="images/icon/1.png" alt="cartimg">
        </div>
      </div>
    </section>
    <!-- end credit -->
    <!-- contact -->
    <section class="blockcontact">
      <div class="box-width-site">
        <div class="contact">
          <div class="contact__title">
            <div class="contact__title__text">Customer Service</div>
            <ul>
              <li>Contact</li>
              <li>FAQ</li>
              <li>Terms of payment</li>
              <li>Terms of sale</li>
              <li>Delivery terms and conditions</li>
              <li>Returns and Refunds</li>
            </ul>
          </div>
          <div class="contact__title">
            <div class="contact__title__text">Information</div>
            <ul>
              <li>Affiliate</li>
              <li>Cookies</li>
              <li>How to Shop</li>
              <li>About Nelly</li>
              <li>Investor relations</li>
            </ul>
          </div>
          <div class="contact__title">
            <div class="contact__title__text">Campaigns</div>
            <ul>
              <li>Evening dresses</li>
              <li>Makeup</li>
              <li>Fashion forward</li>
              <li>training cloths</li>
              <li>Special Occasion Dresses</li>
              <li></li>
            </ul>
          </div>
          <div class="contact__title">
            <div class="contact__title__text">Stores</div>
            <ul>
              <li>Paris</li>
              <li>New Your</li>
              <li>London</li>
              <li>Madrid</li>
              <li>Tokio</li>
            </ul>
          </div>
          <div class="contact__title ">
            <div class="contact__title__text">Social</div>
            <div class="contact__title__icons">
              <div class="contact__title__icons__icon"> <i class="fa fa-twitter" aria-hidden="true"></i></div>
              <div class="contact__title__icons__icon"> <i class="fa fa-pinterest" aria-hidden="true"></i></div>
              <div class="contact__title__icons__icon"> <i class="fa fa-facebook" aria-hidden="true"></i></div>
              <div class="contact__title__icons__icon"> <i class="fa fa-google-plus-official" aria-hidden="true"></i></div>
              <div class="contact__title__icons__icon"> <i class="fa fa-tumblr" aria-hidden="true"></i></div>
              <div class="contact__title__icons__icon"> <i class="fa fa-vimeo" aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="contact__title">
            <div class="contact__title__ellipse">
              <img src="images/icon/Ellipsedown.png" alt="elipseimg">
              <span>
                <div class="procent">100%</div>
                <div class="text">secured</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact -->
    <footer>
      <div class="box-width-site">
        <div class="buttom">
          <div class="buttom__list">
            <ul>
              <li>Privacy & Cookies</li>
              <li>Terms & Conditions</li>
              <li>Acccessibility</li>
              <li>Store Directory</li>
              <li>About Us</li>
            </ul>
          </div>
          <div class="buttom__copyright">
            <div>&copy; LookShop.com</div>
            <div>All Rights Reserved</div>
          </div>
        </div>
      </div>
    </footer>

  </main>

  <script src="https://use.fontawesome.com/64eb14efc2.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <!-- <script src="js/jquery.circliful.min.js"></script> -->
  <!-- <script src="js/jquery.viewportchecker.min.js"></script> -->
  <!-- <script src="js/scrolling-nav.js"></script> -->
  <script src="js/vue-slider-component.umd.min.js"></script>
  <script src="js/vuejs-paginate.js"></script>
  <script src="js/script.js"></script>

</body>

</html>
