body {
  transition: background-color 0.2s;
  margin: 0;
}

body[data-light-mode=dark] {
  background-color: #181A1B;
  color: #D3D0C9;
}

#fbsetting {
  background-color: #999999 !important;
}

header {
  width: 100%;
  padding: 0px 0;
  background-color: #263238;
  display: flex;
  align-items: center;
}

header menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header menu a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

header menu a:hover {
  color: white;
  text-decoration: underline;
  color: #FFFFC4;
}

header menu a img {
  transform: translateY(-10px);
  height: 40px;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main input {
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .1em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
}

.main button {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .1em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
main {
  padding: 10px;
  width: 70%;
}

main .opus {
  border: 1px gray solid;
  margin: 50px 0;
  text-align: justify;
  padding: 5px;
}
main .opusbig {
  font-size: 2em;
  margin: 50px 0;
  padding: 5px;

}
nav {
  width: 30%;
  text-align: center;
  border-left: 2px gray solid;
  padding: 20px;
}

nav #count {
  font-size: 2em;
}

footer {
  background-color: #607E8D;
  color: white;
  padding: 20px;
  text-align: center;
}
