<!DOCTYPE html>
<html>

<head lang="en">
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>index</title>

  <link href="css/include.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- <link rel="stylesheet" href="css/jquery.circliful.css"> -->
  <!-- <link rel="stylesheet" href="css/animate.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="css/fullpage.css" /> -->

</head>

<body>
  <script src="https://unpkg.com/vue"></script>


  <div class="main" id="app">
    <header class="header">
      <div class="bg-black">
        <div class="box-width-site">

          <div class="header__black row d-flex justify-content-sm-between justify-content-center">

            <div class="header__black__left col-sm-auto col-12 d-flex justify-content-center">
              <div class="header__black__left__text">
                <span class="header__black__left__text__name">custom care: </span>
                <span class="header__black__left__text__number"> 888-23-4567</span>
              </div>
            </div>
            <div class="header__black__right col-sm-auto col-12">
              <div class="nav">
                <div class="vline"></div>
                <div class="nav__item nav__item-currency">
                  <div class="dropdown">
                    <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                      $us
                      <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">$ua</a>
                      <a class="dropdown-item" href="#">$eu</a>
                      <a class="dropdown-item" href="#">$fr</a>
                    </div>
                  </div>
                </div>
                <div class="vline"></div>
                <div class="nav__item nav__item-user">
                  <i class="fas fa-user-alt"></i>
                  My Account
                </div>
                <div class="vline"></div>
                <div class="nav__item nav__item-search">
                  <i class="fas fa-search"></i>
                </div>
                <div class="vline"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- menu -->
    <section class=" d-none">
      <div class="bg-white">
        <div class="box-width-site">
          <div class="logo row">
            <div class="logo__logo col-sm-auto col-12 d-flex align-self-center order-sm-1 order-1">
              <img src="images/logo.png" alt="logo">
            </div>
            <div class="mx-auto col-sm-auto col-12 order-sm-2 order-2"></div>
            <div class="logo__menu col-lg-auto col-12 mx-0 d-flex align-self-center order-lg-3 order-4">
              <nav class="logo__menu__menu navbar navbar-expand-lg navbar-dark ">
                <div class="d-lg-none d-block">MENU</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav">
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          new
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          designer
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          women
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          men
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                          clearence
                          <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">$ua</a>
                          <a class="dropdown-item" href="#">$eu</a>
                          <a class="dropdown-item" href="#">$fr</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="logo__cart col-sm-auto col-12 d-flex align-self-center order-lg-4 order-3">
              <div class="logo__cart__list d-flex justify-content-between align-items-center ">
                <span>Your cart</span>
                <i class="fas fa-caret-down"></i>
              </div>
              <div class="logo__cart__money d-flex justify-content-between align-items-center">
                <i class="fas fa-shopping-bag"></i>
                <span>0 items | $ 0</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end menu -->

    <!-- path -->
    <section class=" d-none">
      <div class="box-width-site ">
        <div class="road">
          <div class="road__line">
            <i class="fas fa-home"></i>
            > Women > Clothes
          </div>
        </div>
      </div>
    </section>
    <!-- end path -->
    <!-- carousel -->
    <section class=" d-none">
      <div class="box-width-site">
        <!-- <div class="carusell  d-flex justify-content-between">
          <div class="carusell__arrow">1</div>
          <div class="carusell__own owl-carousel carousel-block10">
            <div class="carusell__own__box d-flex justify-content-between">
              <div class="carusell__own__box__foto d-flex justify-content-between">
                <div class="carusell__foto__img">
                  <img src="images/carousel11.png" alt="img_left">
                </div>
                <div class="carusell__foto__img">
                  <img src="images/carousel12.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__own__box__text">
                <div class="carusell__box__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
              </div>
            </div>
          </div>
          <div class="carusell__arrow">1</div>
        </div> -->
        <!-- <div class="carusell  d-flex justify-content-between">
          <div class="carusell__own owl-carousel owl-theme">
            <div class="item">
              This is Photoshop's version of Lorem Ipsum.
            </div>
          </div>
        </div> -->
        <div class="carusell d-flex justify-content-between">
          <div class="carusell__arrow owlPreviousBtn text-left">
            <i class="fas fa-angle-left"></i>
          </div>

          <div class="carusell__box owl-carousel owl-theme">
            <div class="carusell__box__item  d-flex ">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="carusell__box__item d-flex">
              <div class="carusell__box__item__foto d-flex">
                <div class="carusell__box__item__foto_left">
                  <img src="images/carousel1.png" alt="img_left">
                </div>
                <div class="carusell__box__item__foto_right">
                  <img src="images/carousel2.png" alt="img_right">
                </div>
              </div>
              <div class="carusell__box__item__text text-left ">

                <div class="carusell__box__item__text__header">Open Heart Top</div>
                <div class="carusell__box__item__text__price">$13.95</div>
                <div class="carusell__box__item__text__text">
                  This is Photoshop's version of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                  Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  Nam nec tellus a odio tincidunt auctor a ornare odio.
                </div>
                <div class="carusell__box__item__text__btn  d-flex align-items-center justify-content-around">
                  add to cart
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="carusell__arrow owlNextBtn text-right">
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <hr>
      </div>
    </section>
    <!-- end carousel -->
    <section>
      <div class="box-width-site contentmain row">
        <div class="content col-9 text-center  p-0">
          <div class="content__button row mb-2">
            <div class="content__button__sort col-6 text-left">
              Sort by
              <div class="btn-group">
                <button type="button" class="content__button__sort__btn" data-toggle="dropdown">{{sortMainName}}</button>
                <button type="button" class="content__button__sort__btn dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                  <!-- <span class="sr-only">Toggle Dropdown</span> -->
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <button v-on:click="sortPriceMin" class="dropdown-item" type="button">min price</button>
                  <button v-on:click="sortPriceMax" class="dropdown-item" type="button">max price</button>
                  <button v-on:click="sortDate" class="dropdown-item" type="button">date</button>
                  <button v-on:click="sortId" class="dropdown-item" type="button">default</button>
                  <button v-on:click="sortSale" class="dropdown-item" type="button">action</button>
                </div>
                <!-- <button v-on:click="sortpovz" class="dropdown-item" type="button">sortpovz</button> -->
              </div>
            </div>
            <div class="content__button__page col-6 text-right">
              <button v-on:click="changelistPage1" class=""> {{page1}} </button>
              <button v-on:click="changelistPage2" class=""> {{page2}}</button>
              <button v-on:click="changelistPage3" class=""> {{page3}}</button>
              <button v-on:click="changelistPage4" class=""> {{page4}} </button>
            </div>
          </div>
          <div class="content__cells row p-0">
            <div class="content__cells__cell col-4 p-0" v-for="(item, index) in ringeprice.slice(min, max) ">
              <div class="content__cells__cell__cel">
                <img :src="item.url" alt="item.url">
                <div class="name">name - {{item.name}}</div>
                <div class="price">price - {{item.price}}</div>
                <button type="button" name="button">add to cart</button>
                <div>index - {{index}}</div>
                <div>id - {{item.id}}</div>
                <div>date - {{item.date}}</div>
                <div>sale - {{item.sale}}</div>
                <div>ringeprice.length - {{ringeprice.length}}</div>
                <div>items.length - {{items.length}}</div>
              </div>




              <!-- <div class="foto">foto</div>
            <div class="name">name</div>
            <div class="price">price</div>
            <div class="button">button</div> -->





              <!-- <div id="app">
              <h1>Hello {{name}}</h1>
              <h3>{{userInfo}}</h3>
              <h3><a :href="url">My page</a></h3>
              <button v-on:click="changeName">Change to Julia</button>
              <br>
              <br>
              Add Book: <input type="text" v-model="currentBook"><button @click=addBook>Add Book</button>
              <br>
              <br>
              <div v-if="books.length > 0">
                Books
                <ul>
                  <li v-for="book in books">{{book}}</li>
                </ul>
              </div>
            </div> -->







            </div>
          </div>
        </div>

        <!-- __price -->
        <!-- __foto -->
        <!-- __name -->
        <!-- __button -->
        <div class="sidebar col-3">
          <div class="sidebar__slider">
            <input class="sidebar__slider__min" type="range" min="1" max="100" oninput="sizePic()" v-model="slidermin">
            <input class="sidebar__slider__max" type="range" min="1" max="100" oninput="sizePic()" v-model="slidermax">
          </div>
          {{slidermin}}
          {{slidermax}}
          тут повинен бути sidebar _
          тут повинен бути sidebar _
          тут повинен бути sidebar _
          тут повинен бути sidebar _
        </div>
      </div>
      <!-- <div id="app">
        <span @click="title='text'">Text</span>
        <p>{{ title }}</p>
      </div> -->
    </section>
    <footer>

    </footer>

  </div>


  <script src="js/owl.carousel.min.js"></script>
  <!-- <script src="js/jquery.circliful.min.js"></script> -->
  <!-- <script src="js/jquery.viewportchecker.min.js"></script> -->
  <!-- <script src="js/scrolling-nav.js"></script> -->
  <script src="js/script.js"></script>

</body>

</html>
